

body{
    background-color: dimgrey;
    text-align: center;
}


button{
    background-color: gainsboro;
    margin-left: 3%;
}

.view{
    width: 54%;
    align: center;
    position: absolute;
    left: 23%;
    height: 100%;
    background-color: aliceblue;
}

.subMenu{
    padding-top: 10%;
}
